
    <h2>ABOUT...</h2>
    <h3>This is a new proof</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vitae dicta voluptates provident eos et quod est eaque numquam placeat.</p>
    <br>
    {{#if isDisplayedName}}
    <p> My name is {{ name }}</p>
    {{/if}}

       <!--#unless -->
    